<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sample-modules.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>29AF77BA2742F33D92B8EE1A82C1735256BA2B39</string>
				<key>dateExpires</key>
				<string>08/12/20</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>29AF77BA2742F33D92B8EE1A82C1735256BA2B39</string>
						<key>dateExpires</key>
						<string>08/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AK67DH72N8</string>
						<key>name</key>
						<string>BUKALAPAK.COM, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>29AF77BA2742F33D92B8EE1A82C1735256BA2B39</string>
						<key>dateExpires</key>
						<string>08/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjack.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AK67DH72N8</string>
						<key>name</key>
						<string>BUKALAPAK.COM, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>29AF77BA2742F33D92B8EE1A82C1735256BA2B39</string>
						<key>dateExpires</key>
						<string>08/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DeepDiff.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AK67DH72N8</string>
						<key>name</key>
						<string>BUKALAPAK.COM, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>29AF77BA2742F33D92B8EE1A82C1735256BA2B39</string>
						<key>dateExpires</key>
						<string>08/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DeviceGuru.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AK67DH72N8</string>
						<key>name</key>
						<string>BUKALAPAK.COM, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>29AF77BA2742F33D92B8EE1A82C1735256BA2B39</string>
						<key>dateExpires</key>
						<string>08/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AK67DH72N8</string>
						<key>name</key>
						<string>BUKALAPAK.COM, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>29AF77BA2742F33D92B8EE1A82C1735256BA2B39</string>
						<key>dateExpires</key>
						<string>08/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>KeychainSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AK67DH72N8</string>
						<key>name</key>
						<string>BUKALAPAK.COM, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>29AF77BA2742F33D92B8EE1A82C1735256BA2B39</string>
						<key>dateExpires</key>
						<string>08/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AK67DH72N8</string>
						<key>name</key>
						<string>BUKALAPAK.COM, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>29AF77BA2742F33D92B8EE1A82C1735256BA2B39</string>
						<key>dateExpires</key>
						<string>08/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AK67DH72N8</string>
						<key>name</key>
						<string>BUKALAPAK.COM, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>29AF77BA2742F33D92B8EE1A82C1735256BA2B39</string>
						<key>dateExpires</key>
						<string>08/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PINCache.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AK67DH72N8</string>
						<key>name</key>
						<string>BUKALAPAK.COM, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>29AF77BA2742F33D92B8EE1A82C1735256BA2B39</string>
						<key>dateExpires</key>
						<string>08/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PINOperation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AK67DH72N8</string>
						<key>name</key>
						<string>BUKALAPAK.COM, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>29AF77BA2742F33D92B8EE1A82C1735256BA2B39</string>
						<key>dateExpires</key>
						<string>08/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PINRemoteImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AK67DH72N8</string>
						<key>name</key>
						<string>BUKALAPAK.COM, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>29AF77BA2742F33D92B8EE1A82C1735256BA2B39</string>
						<key>dateExpires</key>
						<string>08/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Parchment.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AK67DH72N8</string>
						<key>name</key>
						<string>BUKALAPAK.COM, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>29AF77BA2742F33D92B8EE1A82C1735256BA2B39</string>
						<key>dateExpires</key>
						<string>08/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RNCryptor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AK67DH72N8</string>
						<key>name</key>
						<string>BUKALAPAK.COM, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>29AF77BA2742F33D92B8EE1A82C1735256BA2B39</string>
						<key>dateExpires</key>
						<string>08/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RSBarcodes_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AK67DH72N8</string>
						<key>name</key>
						<string>BUKALAPAK.COM, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>29AF77BA2742F33D92B8EE1A82C1735256BA2B39</string>
						<key>dateExpires</key>
						<string>08/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AK67DH72N8</string>
						<key>name</key>
						<string>BUKALAPAK.COM, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>29AF77BA2742F33D92B8EE1A82C1735256BA2B39</string>
						<key>dateExpires</key>
						<string>08/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Starscream.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AK67DH72N8</string>
						<key>name</key>
						<string>BUKALAPAK.COM, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>29AF77BA2742F33D92B8EE1A82C1735256BA2B39</string>
						<key>dateExpires</key>
						<string>08/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftPhoenixClient.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AK67DH72N8</string>
						<key>name</key>
						<string>BUKALAPAK.COM, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>29AF77BA2742F33D92B8EE1A82C1735256BA2B39</string>
						<key>dateExpires</key>
						<string>08/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AK67DH72N8</string>
						<key>name</key>
						<string>BUKALAPAK.COM, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>29AF77BA2742F33D92B8EE1A82C1735256BA2B39</string>
						<key>dateExpires</key>
						<string>08/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Swinject.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AK67DH72N8</string>
						<key>name</key>
						<string>BUKALAPAK.COM, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>29AF77BA2742F33D92B8EE1A82C1735256BA2B39</string>
						<key>dateExpires</key>
						<string>08/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>iCarousel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AK67DH72N8</string>
						<key>name</key>
						<string>BUKALAPAK.COM, PT</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>AK67DH72N8.com.bukalapak.sample-modules</string>
				<key>com.apple.developer.team-identifier</key>
				<string>AK67DH72N8</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>AK67DH72N8.com.bukalapak.sample-modules</string>
				</array>
			</dict>
			<key>name</key>
			<string>sample-modules.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>187e425c-c4ca-421d-b5ee-d807e519c42d</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>AK67DH72N8</string>
				<key>name</key>
				<string>BUKALAPAK.COM, PT</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
